$bgcolor:#fff;
$color:#88432D;
$fz:34px;
$fw:900;
$width:100%;
$height:100px;
$fw2:600;
$fz2:15px;
$color2:#5C210E;
$border:1px solid #321B0C ;
$borradius:30px;
$fw3:300;
$fz3:85px;
$fz4:16px;
$color3:#492E1C;
$fz5:24px;
$imgw:443px;
$imgh:390px;
$color4:#73543F;
$fw4:500;
$color5: #1D1007;
$fz6:14px;
$black:black;
$fz7:40px;